.select-block {
  width: 250px;
}

.react-select-container {
  .react-select__control {
    border-radius: 15px;
    background-color: transparent;
    .react-select__single-value {
      color: black;
      font-size: 16px;
    }

    .react-select__value-container {
      .react-select__menu {
        background-color: transparent;
        color: black;
        font-size: 16px;
        .react-select__menu-list {
          background-color: transparent;
          color: black;
          font-size: 16px;
          .react-select__option {
            background-color: transparent;
            color: black;
            font-size: 16px;
          }
        }
      }
    }
  }
}

.react-select__menu {
  border-radius: 5px;
  padding: 5px;
  background: linear-gradient(
    145.99deg,
    rgba(22, 21, 21, 0.9) -0.09%,
    rgba(46, 46, 46, 0.9) 98.66%
  );
  color: black;
  font-size: 16px;
  .react-select__menu-list {
    color: black;
    font-size: 16px;

    .react-select__option {
      margin-top: 2px;
      border-radius: 5px;
      background: linear-gradient(
        145.99deg,
        rgba(22, 21, 21, 0.9) -0.09%,
        rgba(46, 46, 46, 0.9) 98.66%
      );
      color: black;
      font-size: 16px;
    }

    .react-select__option:hover {
      color: #ff4700;
    }
    .react-select__option:focus {
      color: #ff4700;
    }
  }
}
